{
  "env": {
    "development": {
      "presets": [
        "babel-preset-latest",
        "babel-preset-stage-1",
        "babel-preset-react"
      ],
      "plugins": [
        "react-hot-loader/babel"
      ]
    },
    "production": {
      "presets": [
        "babel-preset-react-optimize",
        "babel-preset-latest",
        "babel-preset-stage-1",
        "babel-preset-react"
      ]
    },
    "webpack-development": {
      "presets": [
        [
          "babel-preset-latest",
          {
            "es2015": {
              "modules": false
            }
          }
        ],
        "babel-preset-stage-1",
        "babel-preset-react"
      ],
      "plugins": [
        "react-hot-loader/babel"
      ]
    },
    "webpack-production": {
      "presets": [
        "babel-preset-react-optimize",
        [
          "babel-preset-latest",
          {
            "es2015": {
              "modules": false
            }
          }
        ],
        "babel-preset-stage-1",
        "babel-preset-react"
      ]
    }
  }
}
