extends:
  - tough/config/common
  - tough/config/node
  - tough/config/react
  - tough/config/browser
  - tough/config/esnext
globals:
  Promise: true
settings:
# local/context rules
  import/resolver:
    webpack:
      config: webpack.config.js
rules:
  # maybe fix in the future
  react/jsx-filename-extension: 0
  react/jsx-sort-props: 0
  react/sort-prop-types: 0
  comma-dangle: 0
  import/no-unresolved: 0
  template-curly-spacing: 0
  react/jsx-boolean-value: 0
  global-require: 0

  # probably PR this
  operator-linebreak:
    - 2
    - after
    -
      overrides:
        ?: ignore
        :: ignore
  no-ternary: 0
  object-curly-newline: 0
  immutable/no-mutation: 0
  react/no-unused-prop-types: 0
