.page,
.body {
  display: flex;
  flex-grow: 1;
}

.body {
  align-items: center;
  min-height: 100%;
  justify-content: center;
  overflow: auto;
}

.link {
  color: transparent;
  display: inline-block;
  font-size: 0;
  line-height: 0;
  width: 50px;
  height: 50px;
  background: no-repeat 50% 50%;
  border-radius: 8px;
  background-size: 50px;
  margin: 0 10px;
}

.email {
  background-size: 30px;
  background-color: #000;
}

.facebook {
  background-size: 30px;
  background-color: #000;
}

.medium {
  background-size: 30px;
  background-color: #000;
}

@media (max-width: 570px) {
  .body {
    flex-direction: column;
  }

  .link {
    flex-shrink: 0;
    margin: 10px 0;
  }
}
